/packages.riot.im/debian/dists
/packages.riot.im/debian/pool
/packages.riot.im/desktop/install
/packages.riot.im/desktop/update/win32
/packages.riot.im/desktop/update/macos/*.zip
/packages.riot.im/desktop/update/macos/latest
/packages.riot.im/desktop/update/macos/arm64
/packages.riot.im/desktop/update/macos/x64
/packages.riot.im/nightly/install
/packages.riot.im/nightly/update/win32
/packages.riot.im/nightly/update/macos/*.zip
/packages.riot.im/nightly/update/macos/latest
/packages.riot.im/nightly/update/macos/arm64
/packages.riot.im/nightly/update/macos/x64

