/packages.element.io/debian/dists
/packages.element.io/debian/pool
/packages.element.io/desktop/install
/packages.element.io/desktop/update/win32
/packages.element.io/desktop/update/macos/*.zip
/packages.element.io/desktop/update/macos/latest
/packages.element.io/desktop/update/macos/arm64
/packages.element.io/desktop/update/macos/x64
/packages.element.io/nightly/install
/packages.element.io/nightly/update/win32
/packages.element.io/nightly/update/macos/*.zip
/packages.element.io/nightly/update/macos/latest
/packages.element.io/nightly/update/macos/arm64
/packages.element.io/nightly/update/macos/x64
/.idea

